<footer>
  <div class='container'>
    <div class='footer'>
      <div class="footer__row">
        <a href="/" class="logo">
          <svg width='134' height='60'>
            <use href='img/sprite/sprite.svg#logo'></use>
          </svg>
        </a>

        <nav class="main-nav footer__nav">
          <ul class="main-nav__list">
            <li class="main-nav__item">
              <a href="/" class="main-nav__link">
                Home
              </a>
            </li>
            <li class="main-nav__item">
              <a href="products.html" class="main-nav__link">
                Products
              </a>
            </li>
            <li class="main-nav__item">
              <a href="about.html" class="main-nav__link">
                About Us
              </a>
            </li>
            <li class="main-nav__item">
              <a href="news.html" class="main-nav__link">
                News
              </a>
            </li>
            <li class="main-nav__item">
              <a href="contacts.html" class="main-nav__link">
                Contacts
              </a>
            </li>
            <li class="main-nav__item hidden-desktop">
              <a href="privacy.html" class="main-nav__link">
                Privacy Policy
              </a>
            </li>
            <li class="main-nav__item hidden-desktop">
              <a href="terms.html" class="main-nav__link">
                Terms And Conditions
              </a>
            </li>
          </ul>
        </nav>

        <a href='#' class='main-button footer__btn'>
          Our Products
          <svg width='10' height='10'>
            <use href='img/sprite/sprite.svg#arrow-diagonal'></use>
          </svg>
        </a>
      </div>
      <div class="footer__row">
        <span class='footer__rights'>
          © 2023. All rights reserved.
        </span>

        <ui class="footer__list">
          <li><a href="privacy.html">Privacy Policy</a></li>
          <li><a href="terms.html">Terms And Conditions</a></li>
        </ui>

      </div>
    </div>
  </div>
</footer>

