<head>
    <meta charset='utf-8'>
    <meta name='viewport' content='width=device-width,initial-scale=1'>
    <meta name='Description' content='FlavOil dev'>
    <!-- <link rel='shortcut icon' href='favicon.ico' type='image/x-icon'> -->
    <meta http-equiv='X-UA-Compatible' content='ie=edge'>
    <title>FlavOil</title>

    <link rel='preload' href='fonts/Inter-Regular.woff' as='font' crossorigin='anonymous'>
    <link rel='preload' href='fonts/Inter-Medium.woff' as='font' crossorigin='anonymous'>
    <link rel='preload' href='fonts/Inter-SemiBold.woff' as='font' crossorigin='anonymous'>
    <link rel='preload' href='fonts/Inter-Bold.woff' as='font' crossorigin='anonymous'>
    <link rel='preload' href='fonts/HeliosBlackC.woff' as='font' crossorigin='anonymous'>
    <link rel='preload' href='fonts/HeliosBlackC-Italic.woff' as='font' crossorigin='anonymous'>

    <link rel='stylesheet' href='css/style.css'>
</head>
