<header class='header'>
  <div class='header-top'>
    <div class='container'>
      <div class='header-top__inner'>
        <ul class='header__contacts'>
          <li class='header__contacts-item'>
            <a href='#' class='header__contacts-link'>
              <svg width='12' height='12'>
                <use href='img/sprite/sprite.svg#geo'></use>
              </svg>
              128 City Road, London EC1V 2NX United Kingdom
            </a>
          </li>
          <li class='header__contacts-item'>
            <a href='mailto:info@flavoil.co.uk' class='header__contacts-link'>
              <svg width='12' height='12'>
                <use href='img/sprite/sprite.svg#email'></use>
              </svg>
              info@flavoil.co.uk
            </a>
          </li>
        </ul>

        <div class="main-contacts">
          <span class="main-contacts__label">
            Contact Us:
          </span>

          <ul class="main-contacts__list">
            <li class="main-contacts__item">
              <a href="#" class="main-contacts__link">
                <img width='21' height='21' src="img/sprite/twitter.svg" alt="twitter">
              </a>
            </li>
            <li class="main-contacts__item">
              <a href="#" class="main-contacts__link">
                <img width='21' height='21' src="img/sprite/instagram.svg" alt="instagram">
              </a>
            </li>
            <li class="main-contacts__item">
              <a href="#" class="main-contacts__link">
                <img width='21' height='21' src="img/sprite/facebook.svg" alt="facebook">
              </a>
            </li>
            <li class="main-contacts__item">
              <a href="#" class="main-contacts__link">
                <img width='21' height='21' src="img/sprite/whatsapp.svg" alt="whatsapp">
              </a>
            </li>
          </ul>

        </div>

      </div>
    </div>
  </div>
  <div class='header-bottom'>
    <div class='container'>
      <div class='header-bottom__inner'>

          <button class='burger'>
            <span class="burger__line"></span>
          </button>

          <div class="header-bottom__logo">
            <a href="/" class="logo">
              <svg width='97' height='47'>
                <use href='img/sprite/sprite.svg#logo'></use>
              </svg>
            </a>
          </div>


          <nav class="mobile-menu main-nav">
            <ul class="main-nav__list">
              <li class="main-nav__item">
                <a href="/" class="main-nav__link active">
                  Home
                </a>
              </li>
              <li class="main-nav__item">
                <a href="products.html" class="main-nav__link">
                  Products
                </a>
              </li>
              <li class="main-nav__item">
                <a href="about.html" class="main-nav__link">
                  About Us
                </a>
              </li>
              <li class="main-nav__item">
                <a href="news.html" class="main-nav__link">
                  News
                </a>
              </li>
              <li class="main-nav__item">
                <a href="contacts.html" class="main-nav__link">
                  Contacts
                </a>
              </li>
            </ul>

            <ul class="contact-list">
              <li class="contact-list__item">
                <a href="#">
                  <svg width='16' height='16'>
                    <use href='img/sprite/sprite.svg#geo'></use>
                  </svg>
                  128 City Road, London EC1V 2NX United Kingdom
                </a>
              </li>
              <li class="contact-list__item">
                <a href="mailto:info@flavoil.co.uk">
                  <svg width='16' height='16'>
                    <use href='img/sprite/sprite.svg#email'></use>
                  </svg>
                  info@flavoil.co.uk
                </a>
              </li>
            </ul>

            <div class="main-contacts main-contacts--mode">
              <span class="main-contacts__label">
                Write to us:
              </span>

              <ul class="main-contacts__list">

                <li class="main-contacts__item">
                  <a href="#" class="main-contacts__link">
                    <img width='33' height='33' src="img/sprite/instagram.svg" alt="instagram">
                  </a>
                </li>
                <li class="main-contacts__item">
                  <a href="#" class="main-contacts__link">
                    <img width='33' height='33' src="img/sprite/whatsapp.svg" alt="whatsapp">
                  </a>
                </li>
                <li class="main-contacts__item">
                  <a href="#" class="main-contacts__link">
                    <img width='33' height='33' src="img/sprite/facebook.svg" alt="facebook">
                  </a>
                </li>
                <li class="main-contacts__item">
                  <a href="#" class="main-contacts__link">
                    <img width='33' height='33' src="img/sprite/twitter.svg" alt="twitter">
                  </a>
                </li>
              </ul>
            </div>

          </nav>

          <div class="main-phone">
            <svg width='35' height='35'>
              <use href='img/sprite/sprite.svg#whatsapp-big'></use>
            </svg>
            <a href="tel:+4402071382077" class="main-phone__link">+44 (0) 207 1382 077</a>
            <a href="#" class="main-phone__write">Write to whatsapp</a>
          </div>

          <!-- в макете есть 2 варианта (написать в wtsp и и обратный звонок) -->
          <!-- <div class="main-phone">
            <svg width='35' height='35'>
              <use href='img/sprite/sprite.svg#headphones'></use>
            </svg>
            <a href="tel:+4402071382077" class="main-phone__link">+44 (0) 207 1382 077</a>
            <a href="#" class="main-phone__write">Сall me back</a>
          </div> -->

      </div>
    </div>
  </div>
</header>



