.main-title {
  color: rgba(var(--cl-d),1.0);
  font-size: clamp(23px, 3.819vw, 42px);
  font-family: var(--font-family2);
  font-style: normal;
  font-weight: 900;
  line-height: 150%;

  i {
    font-style: inherit;
    font-weight: inherit;
    font-size: inherit;
    line-height: inherit;
    color: rgba(var(--accent-title-color),1.0);
  }
}

.main-subtitle {
  color: rgba(var(--cl-d),1.0);
  font-size: clamp(22px, 3.819vw, 32px);
  font-family: var(--font-family2);
  font-style: normal;
  font-weight: 900;
  line-height: 150%;

  i {
    font-style: inherit;
    font-weight: inherit;
    font-size: inherit;
    line-height: inherit;
    color: rgba(var(--accent-title-color),1.0);
  }
}

p {
  color: rgba(var(--cl-d),1.0);
  font-size: clamp(14px, 2.431vw, 16px);
  font-family: var(--font-family);
  font-style: normal;
  font-weight: 400;
  line-height: 150%;

  i {
    font-style: inherit;
    font-weight: inherit;
    font-size: inherit;
    line-height: inherit;
    color: rgba(var(--accent-title-color),1.0);
  }
}

.read-more {
  display: flex;
  align-items: center;
  gap: 8px;

  color: rgba(var(--cl-h),1.0);
  font-size: clamp(12px, 2vw, 14px);
  font-family: var(--font-family);
  font-style: normal;
  font-weight: 400;
  line-height: 100%;
  color: currentColor;

  svg {
    fill: currentColor;
    height: auto;
    flex-shrink: 0;

    @include mobile {
      width: 8px;
    }
  }
}

.time {
  display: flex;
  align-items: center;
  gap: clamp(6px, 0.806vw, 10px);
  color:  rgba(var(--cl-e),1.0);
  font-size: clamp(12px, 2.431vw, 16px);
  font-family: var(--font-family);
  font-style: normal;
  font-weight: 400;
  line-height: 100%;
}
