.contact-list {
  display: flex;
  flex-direction: column;
  gap: 20px;

  a {
    display: flex;
    align-items: center;
    gap: clamp(6px, 1.042vw, 10px);
    color: rgba(var(--cl-a),1.0);
    font-size: clamp(12px, 2.778vw, 16px);
    font-family: var(--font-family);
    font-style: normal;
    font-weight: 500;
    line-height: normal;

    svg {
      fill: rgba(var(--cl-c),1.0);
      flex-shrink: 0;
      height: auto;
      width: clamp(14px, 2.431vw, 16px);
    }
  }

  &--glass {
    border-radius: 10px;
    background: rgba(var(--bg-a),0.12);
    padding: 30px;

    @include mobile {
      padding: 25px clamp(15px, 4vw, 30px);
    }
  }
}
