.video-box {
  position: relative;
  display: flex;
  cursor: pointer;
  border-radius: 10px;
  overflow: hidden;

  &:hover {

    &::after {
      opacity: 1;
      transform: translate(-50%, -50%) scale(1.2);
    }
  }

  &__inner {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;

    picture, img {
      height: 100%;
      width: 100%;
    }
  }

  &::before {
    pointer-events: none;
    @include psevdo;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background-color: rgba(var(--bg-b),.6);
  }

  &:after {
    pointer-events: none;
    --size: clamp(25px, 6.519vw, 50px);
    width: var(--size);
    height: var(--size);
    background-image: var(--play);
    @include psevdo;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 50%;
    top: 50%;
    left: 50%;
    opacity: .7;
    transition: all .3s;
    transform: translate(-50%, -50%);
  }

  img, picture {
    width: 100%;

    @include tablet {
      object-position: right;
    }

    @include mobile {
      object-position: top;
    }
  }
}
